* {
    margin: 0; /* Nullstiller margin for å fjerne eventuelle standardmarginer */
    padding: 0; /* Nullstiller padding for å fjerne eventuelle standardpaddinger */
    box-sizing: border-box; /*
    Bruker border-box-modellen som sikrer at padding og border
    legges til innenfor den definerte bredden og høyden på et element,
    og ikke i tillegg til det, for en mer forutsigbar layouthåndtering.
    */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;/* Setter fonten for hele dokumentet */
  }
/* Basisstiler for nettsiden */

body {
    margin: 0; /* Fjerner standardmarginer */
    background-color: #f0f0f0; /* Setter bakgrunnsfarge for hele siden */
    display: flex; /* Bruker Flexbox for layout */
    flex-direction: column; /* Setter hovedlayoutretningen til kolonner */
    min-height: 100vh; /* Sikrer at nettsiden tar opp minimum hele skjermens høyde */
}

/* Stiler for header, hovedinnhold og navigasjonsmenyen */

header, .main-content, .topnav {
    border-radius: 5px; /* Runde hjørner på disse elementene */
}
header {
    color: #fff; /* Tekstfargen for header */
    padding: 0px; /* Innpadding for header */
    margin: 200px auto; /* Senterer header horisontalt */
    text-align: center; /* Sentrerer tekst i header */
    min-width: 1000px; /* Minimumsbredde for header */
    background: transparent; /* Gjennomsiktig bakgrunn for header */
    animation: back 20s linear infinite; /*
    Setter animasjonen for dette elementet med navnet 'back',
    som skal vare i 20 sekunder, ha en lineær tidsfunksjon og
    gjenta seg uendelig.*/
    white-space: nowrap;/*
    Forhindrer at teksten brytes automatisk (word-wrap),
    og tvinger den til å forbli på en enkelt linje uten å bryte av.*/
    z-index: 0; /* Setter stakknivået for dette elementet til 0 */
    position: relative; /* Angir at elementet har relativ posisjonering i forhold til sin opprinnelige plassering */
    
}
/*Animert header start*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"); /* Hentet fra alvarotrigo.com se kilder*/


.content {
    position: absolute; /* Angir absolutt posisjonering */
    top: 20%; /* Plasserer innholdet 20% fra toppen av forfedrene med relativ posisjonering */
    left: 50%; /* Plasserer innholdet midt på den horisontale aksen */
  }
  
  .content h2 {
    color: #fff; /* Angir tekstfargen for overskriftene */
    font-size: 50px; /* Setter skriftstørrelsen til 50 piksler enheter */
    position: absolute; /* Angir absolutt posisjonering for overskriftene */
    transform: translate(-50%, -100%); /* Sentrerer overskriftene både horisontalt og vertikalt */
  }
  
  .content h2:nth-child(1) {
    color: transparent; /* Gjør den første overskriften gjennomsiktig */
    -webkit-text-stroke: 2px #000; /* Legger til en kantlinje rundt teksten */
  }
  
  .content h2:nth-child(2) {
    color: #00FF00; /* Angir fargen på den andre overskriften */
    animation: animate 4s ease-in-out infinite; /* Legger til en animasjonseffekt */
  }
  
  @keyframes animate {
    0%, 100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
  
/*Animert header slutt*/

/* Stiler for navigasjonsmenyen */

.topnav {
    overflow: hidden; /* Skjuler innhold som er større enn parent container */
    background-color: #777; /* Bakgrunnsfarge for navigasjonsmeny */
    list-style: none; /* Fjerner punktmarkeringer fra listen */
}

.topnav a {
    float: left; /* Plasserer elementer ved siden av hverandre */
    display: block; /* Viser lenkene som blokk-elementer */
    color: #f2f2f2; /* Tekstfarge for lenker i navigasjonsmeny */
    text-align: center; /* Sentrerer tekst i lenkene */
    padding: 14px 16px; /* Innpadding for lenkene */
    text-decoration: none; /* Fjerner understrek på lenker */
    font-size: 17px; /* Størrelse på teksten i lenkene */
}
.topnav ul{
    list-style: none; /* Fjerner punktmarkeringer fra listen */
    padding: 0px; /* Innpadding for lenkene */
    margin: 0 auto; /* Senterer header horisontalt */
}

.active {
    background-color: #04AA6D; /* Setter bakgrunnsfarge for den aktive siden */
    color: white; /* Endrer teksten til hvit */
}

.topnav .icon {
    display: none; /* Skjuler ikonet i mobilvisning */
}

.dropdown {
    float: left; /* Plasserer elementer ved siden av hverandre */
    overflow: hidden; /* Skjuler innhold som er større enn parent container */
}

.dropdown .dropbtn {
    font-size: 17px; /* Størrelse på teksten i lenkene */    
    border: none; /* Fjerner grenser rundt elementet */
    outline: none; /* Fjerner uthevingen rundt klikkbare elementer */
    color: white; /* Setter tekstfarge */
    padding: 14px 16px; /* Gir polstring til elementet */
    background-color: inherit; /* Arver bakgrunnsfarge fra foreldrelementet */
    font-family: inherit; /* Arver skrifttypen fra foreldrelementet */
    margin: 0; /* Nullstiller margin */
}

.dropdown-content {
    display: none; /* Skjuler dropdown-innholdet */
    position: absolute; /* Posisjonerer innholdet absolutt */
    background-color: #f9f9f9; /* Bakgrunnsfarge for dropdown */
    min-width: 160px; /* Minimumsbredde for dropdown */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Legger til skyggeeffekt */
    z-index: 1; /* Setter stakkenivået */
}

/* Stil for lenkene inne i dropdown-innholdet */
.dropdown-content a {
    float: none; /* Fjerner flyten for lenkene */
    color: black; /* Setter tekstfarge til svart */
    padding: 12px 16px; /* Gir polstring til lenkene */
    text-decoration: none; /* Fjerner understrek fra lenkene */
    display: block; /* Viser lenkene som blokk-elementer */
    text-align: left; /* Venstrestiller teksten i lenkene */
}

/* Bakgrunnsfargeendringer ved hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555; /* Bakgrunnsfargeendring ved hover */
    color: white; /* Tekstfargeendring ved hover */
}

/* Bakgrunnsfargeendringer for dropdown-innhold ved hover */
.dropdown-content a:hover {
    background-color: #ddd; /* Bakgrunnsfargeendring ved hover */
    color: black; /* Tekstfargeendring ved hover */
}

/* Viser dropdown-innhold ved hover */
.dropdown:hover .dropdown-content {
    display: block; /* Viser undermenyen ved hover */
}

/* Oppdatert stil for hovedinnholdet */
.main-content {
    max-width: 1000px; /* Begrens bredden */
    margin: 100px auto; /* Senter innholdet */
    padding: 20px; /* Gir polstring til innholdet */
    background-color: #fff; /* Bakgrunnsfarge for hovedinnholdet */
    border-radius: 5px; /* Runding av hjørner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Legger til skyggeeffekt */
    flex: 1; /* Bruk all tilgjengelig vertikal plass */
    z-index: 1; /* Setter stakknivået for dette elementet til 1 */
    position: relative; /* Posisjonerer innholdet relativt */
    top: -200px; /* Plasserer innholdet -200 piksler fra toppen av forfedrene med relativ posisjonering */
}

/* Definerer stilen for alle <p> elementer innenfor .main-content */
.main-content p {
    font-size: 16px; /* Angir skriftstørrelsen til 16 piksler */
    line-height: 1.6; /* Setter linjehøyden til 1.6 ganger skriftstørrelsen */
    margin: 0; /* Sjekk og juster eventuelle marginer på <p> */
    padding: 0; /* Sjekk og juster eventuelle padding på <p> */
}
img{
    display: block; /*Setter elementet som en blokk (display: block) slik at det opptar hele bredden av det tilgjengelige området.*/
    margin-left: auto; 
    margin-right: auto;/*Plasserer elementet horisontalt sentrert ved å angi automatisk marginpå venstre og høyre side, noe som gir en sentrert posisjon.*/
    width: 100%; /* Angir at bildet skal ta opp 100% av bredden til forelder-elementet. */
}
ol, ul{
    padding: 20px; /* Padding rundt listepunktene */
}
/* Stil for footer */
footer {
    background-color: #777; /* Bakgrunnsfarge for footer */
    padding: 10px; /* Padding rundt innhold i footer */
    text-align: center; /* Sentrerer teksten i footer */
    position: relative; /* Angir posisjonen til footer */
    color: white; /* Farge på teksten i footer */
    display: block; /* Viser footer som et blokk-element */
}

/* Stil for ul-listen innenfor footer */
footer ul {
    padding: 0; /* Fjerner padding for ul-listen */
    text-align: center; /* Sentrerer teksten i ul-listen */
}

/* Stil for listeelementer i footer */
footer li {
    display: inline-block; /* Viser listeelementer som blokk-elementer ved siden av hverandre */
    margin-right: 10px; /* Setter avstand mellom hvert listeelement */
    
}

/* Stil for lenker i footer */
footer li a {
    text-decoration: none; /* Fjerner understrek fra lenker */
    padding: 30px; /* Legger til padding rundt lenker i footer */
    color:#fff; /* Farge på lenkene i footer */
    font-size: 20px; /* Størrelse på teksten i lenkene */ 
}


/* Definisjoner for responsivt design på mindre skjermstørrelser (mobil og nettbrett) */

/* Mobile first */
/* Stil for skjul og visning av navigasjonselementer på mobilskjerm */
@media (max-width: 768px) {
    /* Skjuler alle navigasjonselementer bortsett fra det første listeelementet og .dropbtn i dropdown */
    .topnav li:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    /* Styling for header-elementet på mindre skjermer */
    header {
        min-width: 400px; /* Angir minste bredde for header-elementet */
        padding: 20px; /* Legger til padding rundt header-elementet */
        margin: 50px auto; /* Sentrerer header-elementet i forhold til bredden på skjermen */
        top: 100px; /* Plasserer innholdet 100 piksler fra toppen av forfedrene med relativ posisjonering */
        
    }

    /* Setter display til flex og kolonne-retning for å tilpasse navigasjonselementene vertikalt */
    .topnav ul {
        display: flex;
        flex-direction: column;
    }

    /* Styling for responsive navigasjonselementer */
    .topnav.responsive li {
        display: block; /* Viser listeelementer i responsive navigasjon */
    }

    /* Styling for ikonet i responsive navigasjon */
    .topnav a.icon {
        float: left; /* Plasserer ikonet til venstre */
        order: -1; /* Setter ikonet først i rekken */
        display: block; /* Viser ikonet */
    }

    /* Styling for responsive dropdown-elementer */
    .topnav.responsive .icon {
        float: left; /* Plasserer ikonet til venstre */
    }

    /* Styling for lenker i responsive navigasjon */
    .topnav.responsive a {
        float: none; /* Fjerner flyt for lenker */
        display: block; /* Viser lenker som blokk-elementer */
        text-align: left; /* Venstrejusterer teksten */
    }

    /* Styling for dropdown i responsiv visning */
    .topnav.responsive .dropdown {
        float: none; /* Fjerner flyt for dropdown */
    }

    /* Styling for dropdown-innhold i responsiv visning */
    .topnav.responsive .dropdown-content {
        position: relative; /* Endrer posisjonen til dropdown-innhold */
    }

    /* Styling for dropdown-knapp i responsiv visning */
    .topnav.responsive .dropdown .dropbtn {
        display: block; /* Viser dropdown-knapp som blokk-element */
        width: 100%; /* Setter bredden til 100% av foreldreelementet */
        text-align: left; /* Venstrejusterer teksten */
    }

    /* Stil for hovedinnholdet på mindre skjermer */
    .main-content {
        max-width: 400px; /* Begrenser hovedinnholdet til 400 piksler i bredde */
        margin: 50px auto; /* Sentrerer hovedinnholdet */
        top: 0;
    }
    .content h2 {
        font-size: 30px; /* Setter skriftstørrelsen til 30px enheter */
    }
    footer li a {
        font-size: 40px;/* Setter skriftstørrelsen til 40px enheter */
    }
}

/* Stil for nettbrettvisning */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Skjuler alle navigasjonselementer bortsett fra det første listeelementet og .dropbtn i dropdown */
    .topnav li:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    /* Styling for header-elementet på nettbrett */
    header {
        min-width: 700px; /* Angir minste bredde for header-elementet */
        padding: 20px; /* Legger til padding rundt header-elementet */
        margin: 50px auto; /* Sentrerer header-elementet i forhold til bredden på skjermen */
        top: 50px; /* Plasserer innholdet 50 piksler fra toppen av forfedrene med relativ posisjonering */
    }

    /* Setter display til flex og kolonne-retning for å tilpasse navigasjonselementene vertikalt */
    .topnav ul {
        display: flex;
        flex-direction: column;
    }

    /* Styling for responsive navigasjonselementer */
    .topnav.responsive li {
        display: block; /* Viser listeelementer i responsive navigasjon */
    }

    /* Styling for ikonet i responsive navigasjon */
    .topnav a.icon {
        float: left; /* Plasserer ikonet til venstre */
        order: -1; /* Setter ikonet først i rekken */
        display: block; /* Viser ikonet */
    }

    /* Styling for responsive dropdown-elementer */
    .topnav.responsive .icon {
        float: left; /* Plasserer ikonet til venstre */
    }

    /* Styling for lenker i responsive navigasjon */
    .topnav.responsive a {
        float: none; /* Fjerner flyt for lenker */
        display: block; /* Viser lenker som blokk-elementer */
        text-align: left; /* Venstrejusterer teksten */
    }

    /* Styling for dropdown i responsiv visning */
    .topnav.responsive .dropdown {
        float: none; /* Fjerner flyt for dropdown */
    }

    /* Styling for dropdown-innhold i responsiv visning */
    .topnav.responsive .dropdown-content {
        position: relative; /* Endrer posisjonen til dropdown-innhold */
    }

    /* Styling for dropdown-knapp i responsiv visning */
    .topnav.responsive .dropdown .dropbtn {
        display: block; /* Viser dropdown-knapp som blokk-element */
        width: 100%; /* Setter bredden til 100% av foreldreelementet */
        text-align: left; /* Venstrejusterer teksten */
    }

    /* Stil for hovedinnholdet på nettbrett */
    .main-content {
        max-width: 700px; /* Begrenser hovedinnholdet til 700 piksler i bredde */
        margin: 50px auto; /* Sentrerer hovedinnholdet */
        top:0; /* Plasserer innholdet 0 piksler fra toppen av forfedrene med relativ posisjonering */
    }
    .content h2 {
        font-size: 50px; /* Setter skriftstørrelsen til 50 piksler enheter */
    }
    footer li a {
        font-size: 40px; /* Setter skriftstørrelsen til 40 piksler enheter */
    }
}






