Body{
    text-align: left;
    background-color:aqua;

}
p{
    color:darkviolet;
    font-size: 150%;
    font-family: 'Kalam', cursive;
    padding: 5px;
    
}
h2,h3, h4{
    color:midnightblue;
    font-size: 200%;
}
img{
    width: 30%;
    padding: 10px;
    margin: 5%;
    display: block; /*gjør bildet til ett block element sånn at jeg kan endre margin på den og få centrert det */
    margin-left: auto;
    margin-right: auto;
    
}
h1
{
    margin-top: 5%;
    color:deeppink;
    text-align: center;
}
ul.topnav { /*list -> klassen som jeg har kalt topnav */
    list-style-type: none; /*fjerner kulepunktene så du ikke får de prikkene som er default på lister*/
    margin: 0; 
    padding: 0; /* Setter margin og padding lik 0 for å fjerne nettleser default*/
    overflow: hidden; /* Dette er hvis elementene blir for store i dette topbaren f.eks. på en mobilenhet så klipper den teksten så den ikke går utenfor "boksen" sin */
    background-color:black; /* Setter bakgrunnsfargen på navbaren til å være svart*/
    position: sticky; /* Gjør at navbaren "sticker" seg fast i toppen av fanen sånn at når du scroller så følger den etter */
    position: -webkit-sticky; /*Dette er for at den skal funke i safari også */
    top: 0; /*setter avstanden fra toppen til 0 for at position:sticky skal funke */
  }
  
  ul.topnav li { /*listen -> klassen som jeg har kalt topnav -> listepunktene */
    float: left;} /* Dette gjør at de forskjellige meny punktene, altså hjem, livet mitt osv flyter til venstre på siden og hvis det hadde ligget tekst i nærheten så hadde det pakket seg rundt dette */
  
  ul.topnav li a { 
    display: block; /*Denne lar meg spesifisere padding, men den kan også la meg spesifisere margin, height, width osv*/
    color: white; /*Setter teksten til hvit */
    text-align: center; /* midstiller teksten */
    padding: 14px 16px; /* lager mellomrom mellem hvert listepunkt/link */
    text-decoration: none; /*fjerner streken under linkene */
  }
  
  ul.topnav li a:hover:not(.active) {background-color:red;} /*går inn i listen -> klassen topnav -> linkene -> når du holder musepekeren over -> endrer bakgrunnsfarge til rød på alle du holder musepekeren over utenom den siden du er på alt. Altså den som er active */
  
  ul.topnav li a.active {background-color:orange;} /* Går inn i listen -> klassen topnav -> listepunktene -> linkene -> når den ene er aktiv/trykket på så er bakgrunnsfargen oransje */
  
  
  @media screen and (max-width: 600px) { 
    ul.topnav li {float: none;}
  } /*Denne gjør at navbaren legger seg vertikalt i stedet for horizontalt hvis skjermstørrelsen er mindre enn 600 px